.info-section {
  padding: 2.5% 18% 2.5% 18%;
  font-size: 0.9em;
  line-height: 2.5em;
}

.info-label {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.overlay-text-primary {
  margin-bottom: 0px;
  font-size: 0.9em;
  font-weight: 600;
}

.overlay-text-secondary {
  font-size: 0.55em;
  padding-left: 20px;
}

.overlay-text-secondary p {
  margin-bottom: 7px;
  margin-top: 7px;
}

.overlay-text Button {
  border-color: white;
  color: white;
  border-radius: 100px;
  font-size: 0.75em;
}