body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.room-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 10px; /* Space between the columns and rows */
}

/* Style the building headers on mobile */
.building-header {
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  border: none;
  background: none;
  width: 100%;
  color: inherit; /* Remove link color */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.building-header:hover {
  color: inherit; /* Keep the color the same on hover */
}

.building-header:focus {
  border: none;
}

/* Ensure the header text looks the same as a h5 */
.building-header h5 {
  margin: 0;
  font-size: 1.25rem;
}

.room-selection {
  display: flex;
  flex-direction: column;
}

.room-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.room-card {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  font-style: italic;
  cursor: pointer;
  transition: background-color 0.2s;
}

.room-card button {
  height: 30px;
  width: 30px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.room-card.selected.room-available {
  box-shadow: 0 0 0 4px #48a0fe;
}

.room-card.selected.room-unavailable {
  box-shadow: 0 0 0 4px #fe6948;
}

.room-card p {
  margin-top: 8px;
  margin-bottom: 0px;
  font-style: italic;
}

.room-available p {
  color:#007bff;
}

.room-unavailable p {
  color:rgb(234, 104, 104);
}

.selected-rooms ul {
  list-style-type: none;
  padding: 0;
}

.selected-rooms li {
  margin-bottom: 8px;
}

